<a href="https://colab.research.google.com/github/maryam98/ReDI-School/blob/main/Maryam___Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Immoscout](https://raw.githubusercontent.com/juliandnl/redi_ss20/master/image.png)

# Project - Immobilien Scout 24

--- 
## The description:
Welcome to your first project! Have you heard about Immobilienscout 24?  [Immobilienscout 24](https://https://www.immobilienscout24.de/). It the biggest platform for renting appartments in Germany. The company hires data analysts and data scientists for analyzing the market data. They are especially interested in the Berlin market. The company wants to understand where to publish advertisment.

--- 
## The dataset:
The datasets contains information about rental appartments in Berlin. 
One row is for one appartment. The dataset contains 6 columns.  
- Region: is the Berlin district, where the flat is located
- Condition: is the condition of the flat
- Rooms: The number of rooms the flat has
- Rent: Monthly rent for the flat
- Year_Construction: The year in which the house was build
- Space: How many square meters does the flat has?

--- 
## The Task:
1. What kind of information do we have?
2. In which conditions are the flats?
3. Where are the appartments located?

Bonus Questions:
4. What is the mean rent?

In [ ]:
# Imports
import pandas as pd

In [ ]:
# install plotly
# https://plotly.com/python/pandas-backend/
!pip install plotly==4.14.3
pd.options.plotting.backend = "plotly"

Collecting plotly==4.14.3
  Downloading plotly-4.14.3-py2.py3-none-any.whl (13.2 MB)
     |████████████████████████████████| 13.2 MB 2.7 MB/s
Collecting retrying>=1.3.3
  Downloading retrying-1.3.3.tar.gz (10 kB)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly==4.14.3) (1.15.0)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py) ... done
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11447 sha256=f774a19a0978d27ee7d2bb0c3e878c2b18c10d52635c7082a242ec373b41a023
  Stored in directory: /root/.cache/pip/wheels/f9/8d/8d/f6af3f7f9eea3553bc2fe6d53e4b287dad18b06a861ac56ddf
Successfully built retrying
Installing collected packages: retrying, plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
Successfully installed plotly-4.14.3 retrying-1.3.3

In [ ]:
# Read in dataset
rentals = pd.read_csv("https://raw.githubusercontent.com/juliandnl/redi_ss20/master/berlin_rental.csv")

In [ ]:
rentals

          Region        Condition  Rooms     Rent  Year_Construction   Space
0          Mitte   first_time_use    4.0  2659.00               2019  117.20
1      Kreuzberg   first_time_use    1.0  1200.00               2020   29.33
2       Köpenick        well_kept    2.0   979.00               1997   83.61
3    Wilmersdorf        well_kept    4.0  1830.22               1900  171.18
4      Kreuzberg   first_time_use    2.0  2272.00               2020   88.27
..           ...              ...    ...      ...                ...     ...
759      Wedding   mint_condition    1.0   959.00               2017   27.80
760      Wedding   mint_condition    1.0   649.00               2017   20.50
761  Wilmersdorf   mint_condition    4.0  2750.00               2017  110.00
762     Köpenick        well_kept    2.0  1259.00               2017   91.20
763     Neukölln  fully_renovated    2.0   888.00               1990   68.48

[764 rows x 6 columns]

# 1. What kind of information do we have?
Do the following tasks:


1. Use .shape, .info(), .describe(), .head()
2. Select row 250:260 of column 3 and 4
3. Select row 252, 253, 257 of column 1, 3, 5

In [ ]:
# your code
print('shape:',rentals.shape)
print('**********************')
print(rentals.info())
print('***********************')
print (rentals.iloc[250:261,3:5])
print('***********************')
rentals.iloc[[252,253,257],[1,3,5]]

shape: (764, 6)
**********************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Region             764 non-null    object
 1   Condition          764 non-null    object
 2   Rooms              764 non-null    float64
 3   Rent               764 non-null    float64
 4   Year_Construction  764 non-null    int64
 5   Space              764 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 35.9+ KB
None
***********************
        Rent  Year_Construction
250  2434.00               2015
251  2410.80               1914
252  2346.00               1914
253  1069.26               2019
254   699.00               2018
255  1258.00               2020
256  1942.72               2019
257  2250.00               2020
258   668.40               1995
259  1777.00               2017
260  1265.00               2019
***********************

                              Condition     Rent   Space
252  first_time_use_after_refurbishment  2346.00  117.30
253                      first_time_use  1069.26   60.45
257                      first_time_use  2250.00  118.37

# 2. In which conditions are the flats?

In [ ]:
# your code
rentals['Condition'].unique()

array(['first_time_use', 'well_kept', 'mint_condition', 'no_information',
       'fully_renovated', 'first_time_use_after_refurbishment',
       'refurbished', 'modernized', 'need_of_renovation'], dtype=object)

# 3. Where are the appartments located?

In [ ]:
# your code
rentals['Region'].unique()

array(['Mitte', 'Kreuzberg', 'Köpenick', 'Wilmersdorf', 'Charlottenburg',
       'Friedrichsfelde', 'Tiergarten', 'Prenzlauer', 'Wedding',
       'Neukölln'], dtype=object)

# 4. Where is the biggest and the smallest apartment?

In [ ]:
#the biggest apartment: 
#4_1:
max=rentals['Space'].max()
rentals.loc[rentals['Space']==max,['Region','Space']]

    Region   Space
694  Mitte  413.91

In [ ]:
#the biggest apartment :
#4_2:
rentals.nlargest(1,'Space')

    Region       Condition  Rooms     Rent  Year_Construction   Space
694  Mitte  mint_condition    5.0  14207.0               2015  413.91

In [ ]:
#the biggest apartment :
#4_3:
rentals.sort_values('Space',ascending=False).iloc[[0]]

    Region       Condition  Rooms     Rent  Year_Construction   Space
694  Mitte  mint_condition    5.0  14207.0               2015  413.91

In [ ]:
#the biggest apartment :
#4_4:
rentals[rentals.Space==rentals.Space.max()]

    Region       Condition  Rooms     Rent  Year_Construction   Space
694  Mitte  mint_condition    5.0  14207.0               2015  413.91

In [ ]:
#the smallest apartment:
#4_1:
min=rentals['Space'].min()
rentals.loc[rentals['Space']==min,['Region','Space']]

      Region  Space
84  Neukölln   14.0

In [ ]:
#the smallest apartment:
#4_2:
rentals.nsmallest(1,'Space')

      Region  Condition  Rooms   Rent  Year_Construction  Space
84  Neukölln  well_kept    1.0  450.0               1910   14.0

In [ ]:
#the smallest apartment:
#4_3:
rentals.sort_values('Space').iloc[[0]]

      Region  Condition  Rooms   Rent  Year_Construction  Space
84  Neukölln  well_kept    1.0  450.0               1910   14.0

In [ ]:
#the smalest apartment :
#4_4:
rentals[rentals.Space==rentals.Space.min()]

      Region  Condition  Rooms   Rent  Year_Construction  Space
84  Neukölln  well_kept    1.0  450.0               1910   14.0

# BONUS 4. What is the mean rent?
Have a look at:
- https://stackoverflow.com/questions/31037298/pandas-get-column-average-mean
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html

In [ ]:
# your code
rentals['Rent'].mean()

1768.5609424083777

--- 
# Review

This section is only for the reviewing team!

Guideline how to review:
https://docs.google.com/presentation/d/1YORFwlfVQo9ogj7jR9t6_pqxmGIlpBSGubbp1UdtcBQ/edit?usp=sharing

In [ ]:
#@title Review Criteria:
%%html
<h3><input type="checkbox"> 1. Are all questions answered? <br></h3> 
<h3><input type="checkbox"> 2. Does all code run through? <br></h3> 
<h3><input type="checkbox"> 3. Are the conclusions understandable?  <br></h3> 
<h3><input type="checkbox"> 4. Are the bonus question answered?  <br></h3>