<a href="https://colab.research.google.com/github/maryam98/ReDI-School/blob/main/Maryam__Proj2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Immoscout](https://raw.githubusercontent.com/juliandnl/redi_ss20/master/image.png)

# Project - Intro to Pandas [Filter and Group]

--- 
## The description:
Hi all! You're already familiar with the Immobilienscout 24 dataset from the last project. In this project, we will explore the dataset further by sorting, filtering and grouping.

--- 
## The dataset:
The datasets contains information about rental appartments in Berlin. 
One row is for one appartment. The dataset contains 6 columns.  
- Region: is the Berlin district, where the flat is located
- Condition: is the condition of the flat
- Rooms: The number of rooms the flat has
- Rent: Monthly rent for the flat
- Year_Construction: The year in which the house was build
- Space: How many square meters does the flat has?

--- 
## The Task:

1. How many apartments is in Mitte in a 'well-kept' condition?
2. How many apartments are there in Kreuzberg built before 1900?
3. What are the average spaces of the apartments having 4 rooms?
4. Which is the most expensive region on average and what is the maximum rent for this region?

Bonus:
5. What are the min, max and average number of rooms of the apartments in Köpenick?

In [ ]:
# Imports
import pandas as pd

In [ ]:
# Read in dataset
rentals = pd.read_csv("https://raw.githubusercontent.com/juliandnl/redi_ss20/master/berlin_rental.csv")
rentals.head()

        Region       Condition  Rooms     Rent  Year_Construction   Space
0        Mitte  first_time_use    4.0  2659.00               2019  117.20
1    Kreuzberg  first_time_use    1.0  1200.00               2020   29.33
2     Köpenick       well_kept    2.0   979.00               1997   83.61
3  Wilmersdorf       well_kept    4.0  1830.22               1900  171.18
4    Kreuzberg  first_time_use    2.0  2272.00               2020   88.27

# 1.How many apartments is in **Mitte** in a **'well-kept'** condition?

In [ ]:
#1_1:
aaa=rentals[(rentals.Region=="Mitte") & (rentals.Condition=="well_kept")]['Region'].count()
rentals['Number']=aaa
rentals[(rentals.Region=="Mitte") & (rentals.Condition=="well_kept")].groupby(['Region','Condition'])[['Number']].count()

                  Number
Region Condition
Mitte  well_kept       6

In [ ]:
#1_1_2:  please run this (only 1 time)
del rentals['Number']

In [ ]:
#1_2:
rentals[(rentals.Region=="Mitte") & (rentals.Condition=="well_kept")]

    Region  Condition  Rooms     Rent  Year_Construction   Space
15   Mitte  well_kept    2.0  1505.60               2018   75.28
272  Mitte  well_kept    3.0  1639.00               2014   96.00
392  Mitte  well_kept    1.0   924.44               2000   61.14
608  Mitte  well_kept    3.0  1800.00               2013   80.95
735  Mitte  well_kept    2.0  1350.00               2014   68.00
736  Mitte  well_kept    3.0  3500.00               2009  165.00

In [ ]:
#1_3:
rentals[(rentals.Region=="Mitte") & (rentals.Condition=="well_kept")].count()

Region               6
Condition            6
Rooms                6
Rent                 6
Year_Construction    6
Space                6
dtype: int64

In [ ]:
#1_4:
rentals[(rentals.Region=="Mitte") & (rentals.Condition=="well_kept")]['Region'].count()

6

In [ ]:
rentals[(rentals.Region == 'Mitte') & (rentals.Condition == 'well_kept') ].shape[0]

6

# 2.How many apartments are there in **Kreuzberg** built **before 1900**?

In [ ]:
# 2_1:
rentals[(rentals.Region=="Kreuzberg")&(rentals.Year_Construction<1900)]

,Region,Condition,Rooms,Rent,Year_Construction,Space
76,Kreuzberg,first_time_use,5.0,4400.0,1867,236.0
401,Kreuzberg,refurbished,4.0,2850.0,1895,127.0
697,Kreuzberg,first_time_use_after_refurbishment,2.0,1399.0,1874,50.0

In [ ]:
#2_2:
rentals[(rentals.Region=="Kreuzberg")&(rentals.Year_Construction<1900)]['Region'].count()

3

In [ ]:
#2_3:
rentals[(rentals.Region=="Kreuzberg")&(rentals.Year_Construction<1900)].shape[0]

3

# 3.What are the average **space**s of the apartments by the number of **rooms**?

In [ ]:
# your code

rentals.groupby('Rooms')[['Space']].mean()

            Space
Rooms
1.0     34.470748
1.5     41.361111
2.0     65.015725
2.5     90.463125
3.0     99.403167
3.5     98.037500
4.0    130.863333
4.5    106.100000
5.0    194.400526
6.0    237.000000
7.0    251.000000

# 4.Which is the most expensive **region** on average and what is the maximum **rent** for this region?

In [ ]:
print('****average rent for each region:****')
print(rentals.groupby('Region')[['Rent']].mean())
print('\n****the most expensive region on average****')
a=rentals.groupby('Region')[['Rent']].mean()
ab=a.loc[a.Rent==a.Rent.max(),['Rent']]
print(ab)
print('\n**** what is the maximum rent for region',ab.index[0],'  ****')
rentals[rentals.Region==ab.index[0]]['Rent'].max()

****average rent for each region:****
                        Rent
Region
Charlottenburg   1753.452532
Friedrichsfelde  1043.871731
Kreuzberg        2049.138085
Köpenick         1125.475818
Mitte            2408.725033
Neukölln         1188.114915
Prenzlauer       1996.962264
Tiergarten       1914.824795
Wedding           847.138571
Wilmersdorf      1748.646226

****the most expensive region on average****
               Rent
Region
Mitte   2408.725033

**** what is the maximum rent for region Mitte   ****

14207.0

# Bonus Question:
5. What are the min, max and average number of rooms of the apartments in Köpenick?

In [ ]:
#5_1:
rentals[rentals.Region=='Köpenick'][['Rooms']].agg(['min','max','mean'])

         Rooms
min   1.000000
max   4.000000
mean  2.281818

In [ ]:
#5_2:
rentals.loc[rentals.Region=='Köpenick','Rooms'].agg(['min','max','mean']).to_frame()

         Rooms
min   1.000000
max   4.000000
mean  2.281818

In [ ]:
#5_3:
rentals[(rentals.Region=='Köpenick')][['Region','Rooms']].groupby('Region')[['Rooms']].agg(['min','max','mean'])

         Rooms
           min  max      mean
Region
Köpenick   1.0  4.0  2.281818

In [ ]:
#5_4:
rentals.loc[rentals.Region=='Köpenick',['Region','Rooms']].groupby('Region')[['Rooms']].agg(['min','max','mean'])

         Rooms
           min  max      mean
Region
Köpenick   1.0  4.0  2.281818

In [ ]:
#5_5:
rentals.groupby('Region' )[['Rooms']].agg(['min','max', 'mean']).loc[['Köpenick']]

         Rooms
           min  max      mean
Region
Köpenick   1.0  4.0  2.281818

# ⚠ Optional but important

Colab notebooks are great to show code in class, but you shall be able to run python code on your own machine (it probably has more memory, which you may need during the final projects, for example). 

For this, one easy option is to use Jupyter notebook (Colab is actually based on that).


<font color='blue'><b> INSTRUCTIONS TO INSTALL JUPYTER NOTEBOOK</b></font>

* Go to the terminal (the command prompt) on your machine and install jupyter notebook with:
`pip install jupyterlab`
* Then, still in the terminal, install pandas with:
`pip install pandas`
* Finally, still in the terminal, open a jupyter notebook with:
`jupyter notebook`
* It may open a browser directly, or give you a URL to paste in a browser, do it.
* In the page opened in the browser, go to New > Python3 (it's on the right)
* There you shall be able to run the same code as in a Google collab notebok


Try it and let me know if you run into issues. You may have to reverse the slashes in the path tho the CSV file if you use Windows. But why would you use Windows when you can use Linux? Because of Excel? But why would you use Excel if you know Python?

--- 
# Review

This section is only for the reviewing team!

Guideline how to review:
https://docs.google.com/presentation/d/1YORFwlfVQo9ogj7jR9t6_pqxmGIlpBSGubbp1UdtcBQ/edit?usp=sharing

In [ ]:
#@title Review Criteria:
%%html
<h3><input type="checkbox"> 1. Are all questions answered? <br></h3> 
<h3><input type="checkbox"> 2. Does all code run through? <br></h3> 
<h3><input type="checkbox"> 3. Are the conclusions understandable?  <br></h3> 
<h3><input type="checkbox"> 4. Is the bonus question answered?  <br></h3>

In [ ]:
input("Do you have any feedback?")