<a href="https://colab.research.google.com/github/maryam98/ReDI-School/blob/main/Maryam_Project_2_free_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project - Intro to Pandas [Transformations, missing data, editing]

--- 
## The description:
Hey all. To practice all your newly obtained pandas skills we will have new data!
It is taken from www.kaggle.com, a cool website where you can find plenty of data to explore and play with.


--- 
## The datasets:
The first one - in the code called `university` - is the [QS World University Ranking](https://www.kaggle.com/datasets/padhmam/qs-world-university-rankings-2017-2022). 
This dataset contains university data from the year 2017 to 2022. It has a total of 15 features.

- rank_display - rank given to the university
- score - score of the university based on the six key metrics mentioned above
- link - link to the university profile page on QS website
- country - country in which the university is located
- city - city in which the university is located
- region - continent in which the university is located
- logo - link to the logo of the university
- type - type of university (public or private)
- research_output - quality of research at the university
- studentfacultyratio - number of students assigned to per faculty
- international_students - number of international students enrolled at the university
- size - size of the university in terms of area
- faculty_count - number of faculty or academic staff at the university

The second dataset - in the code called `cost` - is the [Cost of Living Index 2022](https://www.kaggle.com/code/bcruise/cost-of-living-index-2022-eda/notebook) and describes how expensive it is to live in various countries.
It contains numeric columns with various cost of living indices relative to New York City. An index of 123 would mean that this country is 23% more expensive than New York.

--- 
## The Tasks:

1. Get yourself familiar with the data. How many rows, what range do the numeric columns have? Anything else?

2. According to the average university score in these regions, would you prefer to go to a private or public university in Africa? How would you decide if you want to visit a university in Europe?

3. How many universities have the term "University" in their name? Can you find other common name parts?

4. Are the best universities situated in the most expensive countries?

5. Do cheaper countries attract more foreign students than more expensive countries? Do we get a different picture when we look at the regions separately?


BONUS: 
6. Come up with one question you want to answer about the data and answer it.

In [ ]:
import pandas as pd
# this is a hack to allow displaying more than one result per notebook cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
university = pd.read_csv("https://raw.githubusercontent.com/sarahlbe/redi/main/qs-world-university-rankings-2017-to-2022-V2.csv")
cost = pd.read_csv("https://raw.githubusercontent.com/sarahlbe/redi/main/cost_of_living_index.csv")

### 1. Get yourself familiar with the data. How many rows, what range do the numeric columns have? Anything else?

In [ ]:
university.info()
university.describe()
cost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6482 entries, 0 to 6481
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   university              6482 non-null   object
 1   year                    6482 non-null   int64
 2   rank_display            6414 non-null   object
 3   score                   2820 non-null   float64
 4   link                    6482 non-null   object
 5   country                 6482 non-null   object
 6   city                    6304 non-null   object
 7   region                  6482 non-null   object
 8   logo                    6482 non-null   object
 9   type                    6470 non-null   object
 10  research_output         6480 non-null   object
 11  student_faculty_ratio   6407 non-null   float64
 12  international_students  6318 non-null   object
 13  size                    6480 non-null   object
 14  faculty_count           6404 non-null   object
dtypes: float64(2), int64(1), object(12)
memory usage: 759.7+ KB

              year        score  student_faculty_ratio
count  6482.000000  2820.000000            6407.000000
mean   2019.693613    46.595532              13.264554
std       1.716683    18.813110               6.604294
min    2017.000000    23.500000               1.000000
25%    2018.000000    31.800000               9.000000
50%    2020.000000    40.600000              12.000000
75%    2021.000000    58.025000              17.000000
max    2022.000000   100.000000              67.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   rank                            139 non-null    float64
 1   country                         139 non-null    object
 2   cost of living index            139 non-null    float64
 3   rent index                      139 non-null    float64
 4   cost of living plus rent index  139 non-null    float64
 5   groceries index                 139 non-null    float64
 6   restaurant price index          139 non-null    float64
 7   local purchasing power index    139 non-null    float64
dtypes: float64(7), object(1)
memory usage: 8.8+ KB

### 2. According to the average university score, would you prefer to go to a private or public university in Africa? How would you decide if you want to visit a university in Europe?

In [ ]:
university.head(100)

,university,year,rank_display,score,link,country,city,region,logo,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,4.0,"3,730",M,"3,065"
1,Stanford University,2017,2,98.7,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,3.0,"3,879",L,"4,725"
2,Harvard University,2017,3,98.3,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,5.0,"5,877",L,"4,646"
3,University of Cambridge,2017,4,97.2,https://www.topuniversities.com/universities/u...,United Kingdom,Cambridge,Europe,https://www.topuniversities.com/sites/default/...,Public,Very high,4.0,"7,925",L,"5,800"
4,California Institute of Technology (Caltech),2017,5,96.9,https://www.topuniversities.com/universities/c...,United States,Pasadena,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,2.0,692,S,968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,University of Geneva,2017,95,63.6,https://www.topuniversities.com/universities/u...,Switzerland,Geneva,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,9.0,"6,547",L,"1,814"
96,KTH Royal Institute of Technology,2017,97,63.1,https://www.topuniversities.com/universities/k...,Sweden,Stockholm,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,8.0,"3,057",L,"3,600"
97,Uppsala University,2017,98,62.8,https://www.topuniversities.com/universities/u...,Sweden,Uppsala,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,10.0,"8,401",L,"2,843"
98,Korea University,2017,98,62.8,https://www.topuniversities.com/universities/k...,South Korea,Seoul,Asia,https://www.topuniversities.com/sites/default/...,Private,Very High,6.0,"3,325",L,"4,026"
99,"Trinity College Dublin, The University of Dublin",2017,98,62.8,https://www.topuniversities.com/universities/t...,Ireland,Dublin,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,12.0,"5,593",L,"1,383"

In [ ]:
university.loc[(university.score >= university.score.mean()) & (university.region=='Africa'),['type']].groupby('type').size()

type
Public    2
dtype: int64

### 3. How many universities have the term "University" in their name? Can you find other common name parts?

In [ ]:
from collections import Counter
MyList=university.university.str.split().sum()
c=Counter(MyList)
c.most_common()

[('University', 4621),
 ('of', 2366),
 ('de', 671),
 ('Universidad', 536),
 ('Technology', 477),
 ('National', 285),
 ('Institute', 221),
 ('State', 221),
 ('The', 214),
 ('Université', 193),
 ('and', 192),
 ('Universidade', 157),
 ('Science', 154),
 ('-', 125),
 ('Universität', 116),
 ('Federal', 114),
 ('Technical', 112),
 ('Nacional', 94),
 ('London', 90),
 ('Universiti', 80),
 ('del', 78),
 ('Católica', 71),
 ('College', 61),
 ('San', 59),
 ('New', 55),
 ('do', 55),
 ('School', 54),
 ('California,', 53),
 ('Indian', 53),
 ('South', 52),
 ('in', 52),
 ('Polytechnic', 52),
 ('at', 51),
 ('Malaysia', 51),
 ('Autónoma', 49),
 ('the', 47),
 ('di', 44),
 ('King', 44),
 ('&', 43),
 ('Universitat', 43),
 ('Hong', 42),
 ('Kong', 42),
 ('Central', 42),
 ('China', 41),
 ('Pontificia', 41),
 ('Paris', 40),
 ('Università', 40),
 ('Economics', 39),
 ('City', 39),
 ('Research', 38),
 ('American', 38),
 ('Southern', 37),
 ('Beijing', 37),
 ('Business', 37),
 ('University,', 36),
 ('Tokyo', 36),
 ('La', 36),
 ('Sciences', 34),
 ('East', 32),
 ('Western', 31),
 ('degli', 31),
 ('York', 30),
 ('Lyon', 30),
 ('Florida', 30),
 ('Rio', 30),
 ('Santa', 29),
 ('Chile', 29),
 ('Moscow', 28),
 ('Teknologi', 28),
 ('Engineering', 28),
 ('Texas', 27),
 ('Australia', 25),
 ('Kazakh', 25),
 ('Management', 25),
 ('International', 25),
 ('Diego', 24),
 ('Queensland', 24),
 ('Washington', 24),
 ('Dublin', 24),
 ('São', 24),
 ('México', 24),
 ('Technische', 24),
 ('Madrid', 24),
 ('1', 24),
 ('Universitas', 24),
 ('Studi', 23),
 ('Tecnológico', 22),
 ('Üniversitesi', 21),
 ('Technological', 20),
 ('Taiwan', 20),
 ('Virginia', 19),
 ('Pontifícia', 19),
 ('Massachusetts', 18),
 ('Chicago', 18),
 ('Singapore', 18),
 ('Columbia', 18),
 ('Seoul', 18),
 ('Sydney', 18),
 ('Korea', 18),
 ('Shanghai', 18),
 ('Osaka', 18),
 ('Illinois', 18),
 ('Georgia', 18),
 ('And', 18),
 ('Boston', 18),
 ('Paulo', 18),
 ('Berlin', 18),
 ('Victoria', 18),
 ('Normal', 18),
 ('des', 18),
 ('Carlos', 18),
 ('Charles', 18),
 ('Janeiro', 18),
 ('SUNY', 18),
 ('Athens', 18),
 ('Toulouse', 18),
 ('Costa', 18),
 ('Rica', 18),
 ('Metropolitan', 18),
 ('Catholic', 18),
 ('Instituto', 18),
 ('Prague', 17),
 ('Lahore', 17),
 ('Francisco', 17),
 ('Institut', 16),
 ('Studies', 16),
 ('North', 15),
 ('Politecnico', 15),
 ('Arizona', 15),
 ('Beirut', 15),
 ('Colombia', 15),
 ('Andes', 15),
 ('Jiaotong', 15),
 ('Medical', 15),
 ('Lincoln', 15),
 ('Cairo', 15),
 ('Warsaw', 15),
 ('Politécnica', 15),
 ('Estado', 15),
 ('California', 14),
 ('Saint', 14),
 ('Petersburg', 14),
 ('Belarusian', 14),
 ('Taipei', 14),
 ('2', 14),
 ('Istanbul', 14),
 ('Edinburgh', 13),
 ('Ecole', 13),
 ('Buenos', 13),
 ('Aires', 13),
 ('Michigan', 13),
 ('Colorado', 13),
 ('Carolina', 13),
 ('Kansas', 13),
 ('Santiago', 13),
 ('Islamic', 13),
 ('Russian', 13),
 ('la', 13),
 ('Tecnológica', 13),
 ('Oxford', 12),
 ('Zurich', 12),
 ('(NTU)', 12),
 ('Pennsylvania', 12),
 ('Australian', 12),
 ('Manchester', 12),
 ('Los', 12),
 ('Tech)', 12),
 ('Amsterdam', 12),
 ('Nottingham', 12),
 ('Auckland', 12),
 ('Ohio', 12),
 ('Royal', 12),
 ('St.', 12),
 ('Denmark', 12),
 ('zu', 12),
 ('Mary', 12),
 ('Maryland,', 12),
 ('(UM)', 12),
 ('Liverpool', 12),
 ('Barcelona', 12),
 ('Newcastle', 12),
 ('Vrije', 12),
 ('Universiteit', 12),
 ('Delhi', 12),
 ('Estadual', 12),
 ('Cape', 12),
 ("Queen's", 12),
 ('Grenoble', 12),
 ('Monterrey', 12),
 ('Rome', 12),
 ('Kingston', 12),
 ('Miami', 12),
 ('(UPM)', 12),
 ('III', 12),
 ('Indiana', 12),
 ('Novosibirsk', 12),
 ('Sun', 12),
 ('Yat-sen', 12),
 ('Rutgers', 12),
 ('Austral', 12),
 ('Politècnica', 12),
 ('Montpellier', 12),
 ('(USM)', 12),
 ('Physics', 12),
 ('/', 12),
 ('George', 12),
 ('Kent', 12),
 ('Denver', 12),
 ('Tomsk', 12),
 ('Eastern', 12),
 ('Iowa', 12),
 ('Johannes', 12),
 ('Utah', 12),
 ('Kyiv', 12),
 ('Sharjah', 12),
 ('Palermo', 12),
 ('(UP)', 12),
 ('Oregon', 12),
 ('Grande', 12),
 ('Sul', 12),
 ('Paul', 12),
 ('Oklahoma', 12),
 ('Federico', 12),
 ('Vilnius', 12),
 ('Yokohama', 12),
 ('Chung', 12),
 ('Plata', 12),
 ('Institute"', 12),
 ('Jordan', 12),
 ('Valparaíso', 12),
 ('Rosario', 12),
 ('Puebla', 12),
 ('Agricultural', 12),
 ('Budapest', 12),
 ('Metropolitana', 12),
 ('da', 12),
 ('Timisoara', 12),
 ('West', 12),
 ('Copenhagen', 11),
 ('Nagoya', 11),
 ('Kyushu', 11),
 ('Stockholm', 11),
 ('Saud', 11),
 ('Paris-Saclay', 11),
 ('Norwegian', 11),
 ('Foreign', 11),
 ('Graz', 11),
 ('Andrés', 11),
 ('Baylor', 11),
 ('Wroclaw', 11),
 ('Academy', 11),
 ('University)', 11),
 ('UNIVERSITY', 11),
 ('Kyoto', 10),
 ('Normale', 10),
 ('Notre', 10),
 ('Cheng', 10),
 ('Arab', 10),
 ('Pisa', 10),
 ('Islamabad', 10),
 ('Tallinn', 10),
 ('(UTP)', 10),
 ('Ural', 10),
 ('Bratislava', 10),
 ('Karaganda', 10),
 ('Faisal', 10),
 ('Lodz', 10),
 ('(MMU)', 10),
 ('Bucharest', 10),
 ('Glasgow', 9),
 ('Birmingham', 9),
 ('Sheffield', 9),
 ('Leeds', 9),
 ('Nanjing', 9),
 ('Dame', 9),
 ('Canterbury', 9),
 ('los', 9),
 ('Wuhan', 9),
 ('Tampere', 9),
 ('Czech', 9),
 ('Córdoba', 9),
 ('Bello', 9),
 ('Imam', 9),
 ('De', 9),
 ("Mongkut's", 9),
 ('Peruana', 9),
 ("Universita'", 9),
 ('3', 9),
 ('Bari', 9),
 ('England', 9),
 ('Brunei', 9),
 ('Riga', 9),
 ('Poznań', 9),
 ('OF', 9),
 ('Escuela', 9),
 ('Northwestern', 8),
 ('Queen', 8),
 ('Fahd', 8),
 ('Harbin', 8),
 ('Middle', 8),
 ('Pedagogical', 8),
 ('Macau', 8),
 ('Sophia', 8),
 ('Brno', 8),
 ('Lebanese', 8),
 ('Salle', 8),
 ('Ecuador', 8),
 ('Prince', 8),
 ('las', 8),
 ('Norte', 8),
 ('studi', 8),
 ('Lille', 8),
 ('Bahrain', 8),
 ('Scuola', 8),
 ('Superiore', 8),
 ('Political', 7),
 ('Chinese', 7),
 ('British', 7),
 ('St', 7),
 ('Jerusalem', 7),
 ('Rochester', 7),
 ('Brunswick', 7),
 ('Chang', 7),
 ('Naples', 7),
 ('Kazan', 7),
 ('Dubai', 7),
 ('Agriculture', 7),
 ('Missouri,', 7),
 ('Ulsan', 7),
 ('Alabama', 7),
 ('Mississippi', 7),
 ('Al', 7),
 ('Mohammad', 7),
 ('Ain', 7),
 ('Baku', 7),
 ('Loyola', 7),
 ('Guadalajara', 7),
 ('Habana', 7),
 ('Mayor', 7),
 ('Bolívar', 7),
 ('Paraná', 7),
 ('Utara', 7),
 ('Tomas', 7),
 ('Hyderabad', 7),
 ('Applied', 7),
 ('Abdulrahman', 7),
 ('German', 7),
 ('Jamia', 7),
 ('Litoral', 7),
 ('for', 7),
 ('(MIT)', 6),
 ('Stanford', 6),
 ('Harvard', 6),
 ('Cambridge', 6),
 ('(Caltech)', 6),
 ('UCL', 6),
 ('ETH', 6),
 ('Swiss', 6),
 ('Imperial', 6),
 ('Princeton', 6),
 ('(NUS)', 6),
 ('Nanyang', 6),
 ('EPFL', 6),
 ('Yale', 6),
 ('Cornell', 6),
 ('Johns', 6),
 ('Hopkins', 6),
 ("King's", 6),
 ('Michigan-Ann', 6),
 ('Arbor', 6),
 ('Tsinghua', 6),
 ('Duke', 6),
 ('Berkeley', 6),
 ('(UCB)', 6),
 ('McGill', 6),
 ('Angeles', 6),
 ('(UCLA)', 6),
 ('Toronto', 6),
 ('(LSE)', 6),
 ('Peking', 6),
 ('(UCSD)', 6),
 ('Bristol', 6),
 ('Melbourne', 6),
 ('Fudan', 6),
 ('(CUHK)', 6),
 ('(NYU)', 6),
 ('KAIST', 6),
 ('Advanced', 6),
 ('Wales', 6),
 ('(UNSW', 6),
 ('Sydney)', 6),
 ('Brown', 6),
 ('Warwick', 6),
 ('Wisconsin-Madison', 6),
 ('Polytechnique', 6),
 ('(Tokyo', 6),
 ('Carnegie', 6),
 ('Mellon', 6),
 ('Munich', 6),
 ('Jiao', 6),
 ('Tong', 6),
 ('Delft', 6),
 ('Monash', 6),
 ('Urbana-Champaign', 6),
 ('Austin', 6),
 ('Ludwig-Maximilians-Universität', 6),
 ('München', 6),
 ('Ruprecht-Karls-Universität', 6),
 ('Heidelberg', 6),
 ('Lund', 6),
 ('Durham', 6),
 ('Tohoku', 6),
 ('Andrews', 6),
 ('Carolina,', 6),
 ('Chapel', 6),
 ('Hill', 6),
 ('KU', 6),
 ('Leuven', 6),
 ('Pohang', 6),
 ('(POSTECH)', 6),
 ('(UBA)', 6),
 ('Davis', 6),
 ('Southampton', 6),
 ('Rice', 6),
 ('Helsinki', 6),
 ('Purdue', 6),
 ('Alberta', 6),
 ('Geneva', 6),
 ('KTH', 6),
 ('Uppsala', 6),
 ('Trinity', 6),
 ('Dublin,', 6),
 ('KIT,', 6),
 ('Karlsruhe', 6),
 ('Leiden', 6),
 ('Utrecht', 6),
 ('Sungkyunkwan', 6),
 ('Louis', 6),
 ('Lomonosov', 6),
 ('Zhejiang', 6),
 ('Yonsei', 6),
 ('Oslo', 6),
 ('Groningen', 6),
 ('Aarhus', 6),
 ('Barbara', 6),
 ('(UCSB)', 6),
 ('Wageningen', 6),
 ('Humboldt-Universität', 6),
 ('Eindhoven', 6),
 ('Freie', 6),
 ('Universitaet', 6),
 ('Adelaide', 6),
 ('Montréal', 6),
 ('(UNAM)', 6),
 ('Lancaster', 6),
 ('Hokkaido', 6),
 ('Ghent', 6),
 ('Park', 6),
 ('Malaya', 6),
 ('Aalto', 6),
 ('Minnesota', 6),
 ('Twin', 6),
 ('Cities', 6),
 ('Lausanne', 6),
 ('Chalmers', 6),
 ('Cardiff', 6),
 ('Basel', 6),
 ('Aberdeen', 6),
 ('Erasmus', 6),
 ('Rotterdam', 6),
 ('Pittsburgh', 6),
 ('RWTH', 6),
 ('Aachen', 6),
 ('(UC)', 6),
 ('Hebrew', 6),
 ('McMaster', 6),
 ('Emory', 6),
 ('Tsing', 6),
 ('Hua', 6),
 ('Waterloo', 6),
 ('catholique', 6),
 ('Louvain', 6),
 ('(UCLouvain)', 6),
 ('Vienna', 6),
 ('Irvine', 6),
 ('Dartmouth', 6),
 ('Bath', 6),
 ('A&M', 6),
 ('Albert-Ludwigs-Universitaet', 6),
 ('Freiburg', 6),
 ('(TU', 6),
 ('Berlin)', 6),
 ('Exeter', 6),
 ('Eberhard', 6),
 ('Karls', 6),
 ('Tübingen', 6),
 ('Otago', 6),
 ('Boulder', 6),
 ('Hanyang', 6),
 ('Maastricht', 6),
 ('Chiao', 6),
 ('Tung', 6),
 ('Reading', 6),
 ('Göttingen', 6),
 ('École', 6),
 ('Supérieure', 6),
 ('Bergen', 6),
 ('Twente', 6),
 ('Bern', 6),
 ('Brussel', 6),
 ('(VUB)', 6),
 ('Milano', 6),
 ('Wien', 6),
 ('(IITD)', 6),
 ('(UIC)', 6),
 ('Sussex', 6),
 ('Petroleum', 6),
 ('Minerals', 6),
 ('Radboud', 6),
 ('Campinas', 6),
 ('(Unicamp)', 6),
 ('Town', 6),
 ('Belfast', 6),
 ('Calgary', 6),
 ('Waseda', 6),
 ('Case', 6),
 ('Reserve', 6),
 ('Autònoma', 6),
 ('Vanderbilt', 6),
 ('Alpes', 6),
 ('Alma', 6),
 ('Mater', 6),
 ('Studiorum', 6),
 ('Bologna', 6),
 ('Antwerp', 6),
 ('Dresden', 6),
 ('Tel', 6),
 ('Aviv', 6),
 ('Technion', 6),
 ('Israel', 6),
 ('Georgetown', 6),
 ('Keio', 6),
 ('Universite', 6),
 ('libre', 6),
 ('Bruxelles', 6),
 ('Wollongong', 6),
 ('Bombay', 6),
 ('(IITB)', 6),
 ('Po', 6),
 ('Sapienza', 6),
 ('Tsukuba', 6),
 ('Simon', 6),
 ('Fraser', 6),
 ('Panthéon-Sorbonne', 6),
 ('Wellington', 6),
 ('(AUB)', 6),
 ('Rheinische', 6),
 ('Friedrich-Wilhelms-Universität', 6),
 ('Bonn', 6),
 ('Hamburg', 6),
 ('Turku', 6),
 ('Holloway', 6),
 ('Al-Farabi', 6),
 ('Loughborough', 6),
 ('Tufts', 6),
 ('Complutense', 6),
 ('Leicester', 6),
 ('Kung', 6),
 ('(NCKU)', 6),
 ('(Taiwan', 6),
 ('Dundee', 6),
 ('Newcastle,', 6),
 ('(UON)', 6),
 ('Navarra', 6),
 ('Macquarie', 6),
 ('Darmstadt', 6),
 ('Madras', 6),
 ('(IITM)', 6),
 ('Ireland', 6),
 ('Galway', 6),
 ('Amherst', 6),
 ('Chulalongkorn', 6),
 ('RMIT', 6),
 ('SOAS', 6),
 ('Anglia', 6),
 ('(UEA)', 6),
 ('Strasbourg', 6),
 ('Surrey', 6),
 ('Stuttgart', 6),
 ('Goethe-University', 6),
 ('Frankfurt', 6),
 ('am', 6),
 ('Main', 6),
 ('Gothenburg', 6),
 ('Kyung', 6),
 ('Hee', 6),
 ('Ponts', 6),
 ('ParisTech', 6),
 ('Putra', 6),
 ('Riverside', 6),
 ('Friedrich-Alexander-Universität', 6),
 ('Erlangen-Nürnberg', 6),
 ('Strathclyde', 6),
 ('(QUT)', 6),
 ('Baptist', 6),
 ('(UC3M)', 6),
 ('Birkbeck,', 6),
 ('Linköping', 6),
 ('Mahidol', 6),
 ('Pompeu', 6),
 ('Fabra', 6),
 ('(Barcelona)', 6),
 ('Cork', 6),
 ('Abdulaziz', 6),
 ('(KAU)', 6),
 ('Dalhousie', 6),
 ('St.Gallen', 6),
 ('(HSG)', 6),
 ('Bloomington', 6),
 ('Ottawa', 6),
 ('Westfälische', 6),
 ('Wilhelms-Universität', 6),
 ('Münster', 6),
 ('Umea', 6),
 ('Cruz', 6),
 ('Hiroshima', 6),
 ('Innsbruck', 6),
 ('University–New', 6),
 ('Kebangsaan', 6),
 ('(UKM)', 6),
 ('Kanpur', 6),
 ('(IITK)', 6),
 ('Torino', 6),
 ('Curtin', 6),
 ('Bauman', 6),
 ('Yang', 6),
 ('Ming', 6),
 ('Argentina', 6),
 ('Rensselaer', 6),
 ('Kharagpur', 6),
 ('(IIT-KGP)', 6),
 ('City,', 6),
 ('Nankai', 6),
 ('Tongji', 6),
 ('Liège', 6),
 ('Xi’an', 6),
 ('Ben-Gurion', 6),
 ('Negev', 6),
 ('Catalunya', 6),
 ('·', 6),
 ('BarcelonaTech', 6),
 ('(UPC)', 6),
 ('Porto', 6),
 ('Waikato', 6),
 ('Indonesia', 6),
 ('(UVic)', 6),
 ('Heriot-Watt', 6),
 ('Dental', 6),
 ('(TMDU)', 6),
 ('Lisbon', 6),
 ('Sains', 6),
 ('Tilburg', 6),
 ('Essex,', 6),
 ('Yeshiva', 6),
 ('Ewha', 6),
 ('Womans', 6),
 ('Griffith', 6),
 ('Gwangju', 6),
 ('(GIST)', 6),
 ('Padova', 6),
 ('Jyväskylä', 6),
 ('Massey', 6),
 ('James', 6),
 ('Cook', 6),
 ('Buffalo', 6),
 ('Hawaiʻi', 6),
 ('Mānoa', 6),
 ('Brunel', 6),
 ('L.N.', 6),
 ('Gumilyov', 6),
 ('Eurasian', 6),
 ('(ENU)', 6),
 ('Cologne', 6),
 ('Tartu', 6),
 ('Ulm', 6),
 ('(MIPT', 6),
 ('Phystech)', 6),
 ('MGIMO', 6),
 ('Konstanz', 6),
 ('Belgrano', 6),
 ('Deakin', 6),
 ('PSL', 6),
 ('Aston', 6),
 ('Witwatersrand', 6),
 ('Brookes', 6),
 ('Northeastern', 6),
 ('Jena', 6),
 ('Nova', 6),
 ('Lisboa', 6),
 ('Kobe', 6),
 ('Milan', 6),
 ('Tasmania', 6),
 ('Laval', 6),
 ('Philippines', 6),
 ('Aalborg', 6),
 ('Colorado,', 6),
 ('Tromsø', 6),
 ('Arctic', 6),
 ('Norway', 6),
 ('Dallas', 6),
 ('Finland', 6),
 ('V.', 6),
 ('N.', 6),
 ('Karazin', 6),
 ('Kharkiv', 6),
 ('Stirling', 6),
 ('Chung-Ang', 6),
 ('(CAU)', 6),
 ('Trobe', 6),
 ('Stony', 6),
 ('Brook', 6),
 ('Swansea', 6),
 ('(SDU)', 6),
 ('Qatar', 6),
 ('Stellenbosch', 6),
 ('Roorkee', 6),
 ('(IITR)', 6),
 ('Leibniz', 6),
 ('Hannover', 6),
 ('Bandung', 6),
 ('(ITB)', 6),
 ('Brandeis', 6),
 ('Gutenberg', 6),
 ('Mainz', 6),
 ('Khalifa', 6),
 ('Nuclear', 6),
 ('MEPhI', 6),
 ('(Moscow', 6),
 ('Institute)', 6),
 ('(TMU)', 6),
 ('Externado', 6),
 ('Wake', 6),
 ('Forest', 6),
 ('Aix-Marseille', 6),
 ('Bilkent', 6),
 ('Sogang', 6),
 ('Bangor', 6),
 ('Satbayev', 6),
 ('HSE', 6),
 ('Peter', 6),
 ('Great', 6),
 ('United', 6),
 ('Emirates', 6),
 ('Mannheim', 6),
 ('Delaware', 6),
 ('Oulu', 6),
 ('Renmin', 6),
 ("(People's)", 6),
 ('Julius-Maximilians-Universität', 6),
 ('Würzburg', 6),
 ('Christian-Albrechts-University', 6),
 ('Kiel', 6),
 ('Goldsmiths,', 6),
 ('Appliquées', 6),
 ('(INSA)', 6),
 ('Connecticut', 6),
 ('Javeriana', 6),
 ('Jagiellonian', 6),
 ('Taras', 6),
 ('Shevchenko', 6),
 ('Beihang', 6),
 ('(former', 6),
 ('BUAA)', 6),
 ('HUFS', 6),
 ('Hankuk', 6),
 ('(Korea)', 6),
 ('Sharif', 6),
 ('València', 6),
 ('Bremen', 6),
 ('Huazhong', 6),
 ('Trento', 6),
 ('(AUT)', 6),
 ('Gung', 6),
 ('Dongguk', 6),
 ('Sabanci', 6),
 ('Swinburne', 6),
 ('Baltimore', 6),
 ('County', 6),
 ('Florence', 6),
 ('Coimbra', 6),
 ('Pusan', 6),
 ('Ruhr-Universität', 6),
 ('Bochum', 6),
 ('Xiamen', 6),
 ('Koç', 6),
 ('Sultan', 6),
 ('Qaboos', 6),
 ('Do', 6),
 ('Sabatier', 6),
 ('Karl-Franzens-Universitaet', 6),
 ('Bond', 6),
 ('Concordia', 6),
 ('Mexico', 6),
 ('Tennessee,', 6),
 ('Knoxville', 6),
 ('Wayne', 6),
 ('(USACH)', 6),
 ('Bogaziçi', 6),
 ('Clark', 6),
 ('Lappeenranta-Lahti', 6),
 ('LUT', 6),
 ('Braunschweig', 6),
 ('Saskatchewan', 6),
 ('"Tor', 6),
 ('Vergata"', 6),
 ('II', 6),
 ('Hitotsubashi', 6),
 ('Dalian', 6),
 ('Guwahati', 6),
 ('(IITG)', 6),
 ('Lehigh', 6),
 ('Tianjin', 6),
 ('Zaragoza', 6),
 ('Aristotle', 6),
 ('Thessaloniki', 6),
 ('Cattolica', 6),
 ('Sacro', 6),
 ('Cuore', 6),
 ('Aberystwyth', 6),
 ('Iran', 6),
 ('Jilin', 6),
 ('Joseph', 6),
 ('(USJ)', 6),
 ('Nebraska', 6),
 ('Gadjah', 6),
 ('Mada', 6),
 ('Bordeaux', 6),
 ('Granada', 6),
 ('du', 6),
 ('Québec', 6),
 ('Leipzig', 6),
 ('Claude', 6),
 ('Bernard', 6),
 ('Ateneo', 6),
 ('Manila', 6),
 ('UNESP', 6),
 ('Abo', 6),
 ('Akademi', 6),
 ('Amirkabir', 6),
 ('Jeonbuk', 6),
 ('Drexel', 6),
 ('(ITBA)', 6),
 ('Abai', 6),
 ('(Volga', 6),
 ('region)', 6),
 ('Khalid', 6),
 ('Martin-Luther-Universität', 6),
 ('Halle-Wittenberg', 6),
 ('Missouri', 6),
 ('Murdoch', 6),
 ('Nagasaki', 6),
 ('Hsing', 6),
 ('(NUST)', 6),
 ('Okayama', 6),
 ('Sejong', 6),
 ('Shandong', 6),
 ('Southeast', 6),
 ('Tulane', 6),
 ('Umm', 6),
 ('Al-Qura', 6),
 ('UdeSA', 6),
 ('Bayreuth', 6),
 ('Saarlandes', 6),
 ('Regensburg', 6),
 ('Guelph', 6),
 ('Kentucky', 6),
 ('Limerick', 6),
 ('Manitoba', 6),
 ('Mons', 6),
 ('Szeged', 6),
 ('(UNLP)', 6),
 ('Chiang', 6),
 ('Mai', 6),
 ('Minas', 6),
 ('Gerais', 6),
 ('Valencia', 6),
 ('Pretoria', 6),
 ('Turin', 6),
 ('Compostela', 6),
 ('Carleton', 6),
 ('Darwin', 6),
 ('Chiba', 6),
 ('William', 6),
 ('Far', 6),
 ('Flinders', 6),
 ('Howard', 6),
 ('Inha', 6),
 ('Kepler', 6),
 ('Linz', 6),
 ('Kagoshima', 6),
 ('Kanazawa', 6),
 ('Keele', 6),
 ('Kumamoto', 6),
 ('Lanzhou', 6),
 ('Saratov', 6),
 ('Ukraine', 6),
 ('"Igor', 6),
 ('Sikorsky', 6),
 ('Philipps-Universität', 6),
 ('Marburg', 6),
 ('Rhodes', 6),
 ('Sichuan', 6),
 ('Syracuse', 6),
 ('TU', 6),
 ('Dortmund', 6),
 ('Pavia', 6),
 ('Bradford', 6),
 ('Canberra', 6),
 ('Cincinnati', 6),
 ('Hull', 6),
 ('Tehran', 6),
 ('Vermont', 6),
 ('Antioquia', 6),
 ('UNC', 6),
 ('Sevilla', 6),
 ('Andres', 6),
 ('Brasília', 6),
 ('Concepción', 6),
 ('Thammasat', 6),
 ('Bielefeld', 6),
 ('Ajou', 6),
 ('Bar-Ilan', 6),
 ('(CQUniversity', 6),
 ('Australia)', 6),
 ('Chonnam', 6),
 ('Clarkson', 6),
 ('Eötvös', 6),
 ('Loránd', 6),
 ('Hallym', 6),
 ('Autónomo', 6),
 ('(ITAM)', 6),
 ('(IIUM)', 6),
 ('Lingnan', 6),
 ('Auezov', 6),
 ('Kazakhstan', 6),
 ('(SKU)', 6),
 ('Masaryk', 6),
 ('Middlesex', 6),
 ('MISIS', 6),
 ('RUDN', 6),
 ('(TalTech)', 6),
 ('Alcalá', 6),
 ('Montevideo', 6),
 ('Torcuato', 6),
 ('Di', 6),
 ('Tella', 6),
 ('Duisburg-Essen', 6),
 ('Duesseldorf', 6),
 ('Rennes', 6),
 ('Sherbrooke', 6),
 ('Panthéon-Assas', 6),
 ('PETRONAS', 6),
 ('Baghdad', 6),
 ('Houston', 6),
 ('Johannesburg', 6),
 ('Ljubljana', 6),
 ('Hampshire', 6),
 ('Portsmouth', 6),
 ('Ulster', 6),
 ('UrFU', 6),
 ('Worcester', 6),
 ('Brigham', 6),
 ('Young', 6),
 ('Comenius', 6),
 ('Coventry', 6),
 ('Mason', 6),
 ('Gifu', 6),
 ('Justus-Liebig-University', 6),
 ('Giessen', 6),
 ('Kazakh-British', 6),
 ('Kyungpook', 6),
 ('Louisiana', 6),
 ('Maynooth', 6),
 ('Memorial', 6),
 ('Newfoundland', 6),
 ('Kapodistrian', 6),
 ('Prefecture', 6),
 ('Palacký', 6),
 ('Olomouc', 6),
 ('University–Newark', 6),
 ('Sofia', 6),
 ('"St.', 6),
 ('Kliment', 6),
 ('Ohridski"', 6),
 ('Stevens', 6),
 ('Temple', 6),
 ('Adolfo', 6),
 ('Ibáñez', 6),
 ('Anáhuac', 6),
 ('Venezuela', 6),
 ...]

### 4. Are the best universities situated in the most expensive countries?

In [ ]:
top_unies=university.loc[pd.to_numeric(university.rank_display ,errors='coerce') <=10,'country' ].unique()
top_expensive_countries=cost.sort_values(by=['cost of living plus rent index'],ascending=False)['country'].head(10).unique()
display(top_unies,top_expensive_countries)
print('********top uni and top expensive*********')
set(top_unies) & set(top_expensive_countries)

array(['United States', 'United Kingdom', 'Switzerland'], dtype=object)

array(['Bermuda', 'Switzerland', 'Jersey', 'Hong Kong', 'Singapore',
       'Luxembourg', 'Iceland', 'Norway', 'Guernsey', 'Israel'],
      dtype=object)

********top uni and top expensive*********

{'Switzerland'}

### 5. Do cheaper countries attract more foreign students than more expensive countries? Do we get a different picture when we look at the regions separately?

In [ ]:
top_cheaper_countries=cost.sort_values(by='cost of living plus rent index')['country'].head(10).unique()
top_cheaper_countries

array(['Afghanistan', 'Pakistan', 'India', 'Algeria', 'Nepal', 'Tunisia',
       'Syria', 'Colombia', 'Kosovo (Disputed Territory)', 'Turkey'],
      dtype=object)

In [ ]:
university['international_students']=university['international_students'].map(lambda x: float(str(x).replace(',','')))
more_foreign_students=university.sort_values(by='international_students',ascending=False)['country'].head(10)
more_foreign_students

5240    Australia
1968    Australia
4051    Australia
2985    Australia
992     Australia
64      Australia
1982    Argentina
4064    Argentina
5250    Argentina
84      Argentina
Name: country, dtype: object

In [ ]:
set(top_cheaper_countries) & set(more_foreign_students)

set()

## Review

This section is only for the reviewing team!

Guideline how to review: https://docs.google.com/presentation/d/1YORFwlfVQo9ogj7jR9t6_pqxmGIlpBSGubbp1UdtcBQ/edit?usp=sharing

## Review Criteria:
<h3><input type="checkbox"> 1. Are all questions answered? <br></h3> 
<h3><input type="checkbox"> 2. Does all code run through? <br></h3> 
<h3><input type="checkbox"> 3. Are the conclusions understandable?  <br></h3> 
<h3><input type="checkbox"> 4. Is the bonus question answered?  <br></h3>